<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <h1>欢迎来到<%=title%>后台管理系统
    </h1>
    <h1>login</h1>
    <div>用户名:
      <input type="text" name="username" id="username" />
    </div>
    <div>
      密码:
      <input type="password" name="password" id="password" />
    </div>
    <div>
      年龄:
      <input type="number" name="age" id="age" />
    </div>
    <div>
      <button id="login-post">登录-post</button>
    </div>
  </div>

  <hr>
  <table border="1">
    <thead>
      <tr>
        <td>id</td>
        <td>用户名</td>
        <td>年龄</td>
        <td>编辑</td>
      </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
  </table>


  <script>

  </script>
</body>

</html>